*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Loops/target/
/CompoundInterest/target/
/RockPaperScissors/target/
/IfStatements/target/
/WindowMaster2/target/
/RandomNumbers/target/
/WhileLoops/target/
/DoWhileLoops/target/
/ForLoops/target/
/BlackJack/target/
/Methods/target/
/Arrays/target/
/JavaBasicsSkillsCheck/target/
/ObjectBasics/target/
/DogTracker/target/
/Greetings/target/
/Greetings2/target/
/Records/target/
/FIleInputAndOutput/target/
/RefactorObjects/target/
/DrillsTest/target/
/SimpleCalculator/target/
/ConsoleIO/target/
/StringDrills/target/
/BasicArrayLists/target/
/StudentQuizScores/target/
/ClassRoster/target/
/LoopsDrills/target/
/ArraysDrills/target/
/ConditionalsDrills/target/
/LogicDrillsTest/target/
/HashMapWarmup/target/
/AddressBookLab/target/
/DVDCollectionLab/target/
/InheretanceExample/target/
/ShapesLab/target/
/DVDLab/target/
/ClassRoster-2015-01-23DEBUGGING-SESSION/nbproject/private/
/ClassRoster-2015-01-23DEBUGGING-SESSION/build/
/ClassRoster-2015-01-23DEBUGGING-SESSION/dist/
/VendingMachineLab/target/
/VendMachineLab/target/
/mavenproject2/target/
/MasteryProject/target/
/BaseballLeagueLab/target/
/ServerInventory/target/
/DataStructures/target/
/Lunchables/target/
/DvdLibrary/target/
/Olympian/target/
/ConsoleContactList/target/
/LargeNumbers/target/