#firstdiv {
    border:5px;
    text-align: center;
    border-style: outset;
    border-color: #ce260b;
    background-color: #01aebf;
    border-radius: 15px;
    margin-top: 10px;
}
#titleexplanation {
    font: italic 30px verdana;
}

/*.active{
    background-color: #01aebf;
}*/